* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}
body {
    color: #fff;
    background: #0000008f;
}

header {
    background: #1616165b;
    padding: 0.5rem 0rem;
}
.navbar .logo {
    font-size: 1.5rem;
    padding: 0.4rem 1rem;
}
.menu {
    list-style-type: none;
    list-style-position: inside;
}
.menu li {
    padding: 0.5rem;
}

.menu li a {
    text-decoration: none;
    font-size: 1.2rem;
    color: #fff;
}

main {
    background: #000000a4;
    height: 100vh;
    padding: 1rem;
}

main h1 {
    padding-bottom: 1.5rem;
}
main p {
    font-size: 1.3rem;
}

@media screen and (min-width: 768px) {
    .navbar {
        display: flex;
        justify-content: space-around;
    }

    .menu {
        display: flex;
    }

    .menu li a {
        font-size: 1.5rem;
    }

    main {
        padding: 4rem 8rem;
    }
    main h1 {
        font-size: 2.5rem;
    }
    main p {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 1100px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        padding: 0rem 6rem;
    }

    .menu {
        display: flex;
    }

    .menu li a {
        font-size: 1.2rem;
    }

    main {
        padding: 4rem 6rem;
    }
    main h1 {
        font-size: 3rem;
    }
    main p {
        font-size: 1.5rem;
    }
}
