body {
    background-color: #1c1a1d;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}
header,
section {
    padding: 0.25rem 2rem;
    text-align: center;
}
.desktop-only {
    display: none;
}
.mobile-only {
    display: block;
}

@media screen and (min-width: 769px) {
    header,
    section {
        padding: 2rem 8rem;
    }
    .desktop-only {
        display: block;
    }
    .mobile-only {
        display: none;
    }
}
@media screen and (min-width: 900px) {
    header,
    section {
        padding: 2rem 8rem;
    }
}
.products {
    display: grid;
    gap: 1rem;
}

.product {
    background-color: #fff;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    color: #000;
    border-radius: 8px;
    padding: 1rem 1.75rem 1.5rem;
}
