body {
    background-color: #60ffa5;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}
header,
section {
    padding: 0.25rem 2rem;
    text-align: center;
}
.desktop-only {
    display: none;
}
.mobile-only {
    display: block;
}

@media screen and (min-width: 769px) {
    header,
    section {
        padding: 2rem 8rem;
    }
    .desktop-only {
        display: block;
    }
    .mobile-only {
        display: none;
    }
}
@media screen and (min-width: 900px) {
    header,
    section {
        padding: 2rem 8rem;
    }
}
.products {
    display: grid;
    gap: 1rem;
}

.product {
    background-color: #fff;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    color: #000;
    border-radius: 8px;
    padding: 1rem 1.75rem 1.5rem;
}

@media screen and (min-width: 40rem) {
    .products {
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (min-width: 900px) {
    .products {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media screen and (min-width: 1600px) {
    .products {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

/* Preferencia de cor */
@media screen and (prefers-color-scheme: light) {
    body {
        background-color: #e0e0e0;
        color: #1c1a1d;
    }

    .product {
        background-color: #fff;
        color: #1c1a1d;
    }
}

@media screen and (prefers-color-scheme: dark) {
    body {
        background-color: #1c1a1d;
        color: #fff;
    }

    .product {
        background-color: #2c2c2d;
        color: #fff;
    }
}
