* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --Fundo-branco: #ffffff;
    --Fundo-claro: #e0e0e0;
    --Cor-principal: #6c63ff;
    --Fundo-escuro: #2c2c2e;
    --Fundo-preto: #070707;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;

    background: url(img/pexels-bertellifotografia-3321797.jpg) no-repeat center;
    background-size: cover;
}
.hero-content {
    padding: 5rem;
    color: #fff;
    width: 100%;
}
.hero-content h1 {
    text-align: center;
    line-height: 3rem;
}
.hero-content p {
    text-align: center;
    padding: 2rem 0;
    line-height: 1.5rem;
}
.hero-content .btn {
    display: block;
    margin: 0 auto;
    width: 130px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background: var(--Cor-principal);
    padding: 0.7rem;
    border-radius: 0.5rem;
}
