* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.card {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.container {
    display: flex;
    width: 800px;
    padding: 3rem;
    border-radius: 1rem;
    align-items: center;
    gap: 2rem;
    background: #dadada;
}

/* imagem */
.img img {
    width: 200px;
    border: 5px solid black;
    object-fit: cover;
}

/* texto */
.text h1 {
    margin: 0 0 0.5rem 0;
}

.text p {
    margin: 1.5rem 0;
    font-size: 1rem;
    line-height: 1.4rem;
    color: #555;
}

.btn {
    display: block;
    border: none;
    color: #fff;
    background: #000;
    padding: 0.8rem;
    border-radius: 0.5rem;
}
