* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-primary: #4c6daf;
    --color-light: #e0e0e0;
    --color-white: #ffffff;
    --color-dark: #2c2c2d;
    --color-dark-hover: #404042;
    --color-grey-700: #444444;
    --color-grey-500: #777777;
    --color-grey-300: #cccccc;
    --border-radius-sm: 0.25rem;
    --box-shadow-sm: 0 2px 6px rgba(0, 0, 0, 0.2);
    --padding-sm: 1rem;
}
.grid-container {
    display: grid;
    grid-template-rows: 3rem 1fr 1fr 1fr 2.7rem;
    grid-template-columns: 19rem repeat(3, 1fr);
    grid-template-areas:
        "header header header header "
        "sidebar content content content"
        "sidebar content content content"
        "sidebar content content content"
        "sidebar footer footer footer";
    min-height: 100vh;
}
header,
footer {
    display: flex;
    color: #fff;
    background: var(--color-primary);
}
header {
    grid-area: header;
    align-items: center;
    font-size: 1.5rem;
    padding-left: 1rem;
}

.sidebar {
    grid-area: sidebar;
    background: var(--color-dark);
}
.sidebar ul {
    padding: 3rem;
    list-style-type: none;
    font-size: 1.2rem;
}
.sidebar ul li {
    padding: 0.5rem;
}
.sidebar ul li a {
    text-decoration: none;
    color: #fff;
}
.content {
    grid-area: content;
    background: var(--color-light);
    padding: 1rem;
}
.stats-section {
    display: flex;
    gap: 2rem;
    text-align: center;
    font-weight: bold;
}
.stats-section .card {
    background: var(--color-white);
    padding: 0.8rem;
    border-radius: 0.5rem;
}
.stats-section .card h3 {
    font-size: 1rem;
    padding-bottom: 0.5rem;
}

.chart-section {
    background: #fff;
    margin: 1.5rem 0;
    padding: 0.5rem;
    border-radius: 0.5rem;
}
.chart-section h2 {
    font-size: 1.5rem;
    font-weight: normal;
    padding: 0.5rem 0;
}
.charts {
    display: grid;
    grid-auto-rows: minmax(10rem, auto);
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        "chart1 chart2 chart3"
        "chart4 chart4 chart4";
    gap: 0.8rem;
}

.chart-placeholder {
    background: var(--color-light);
    display: flex;
    justify-content: center;
    align-items: center;
}
#chart1 {
    grid-area: chart1;
}
#chart2 {
    grid-area: chart2;
}
#chart3 {
    grid-area: chart3;
}
#chart4 {
    grid-area: chart4;
}

.table-section {
    background: #fff;
    padding: 0.8rem;
    border-radius: 0.5rem;
}
.table-section h2 {
    font-size: 1.5rem;
    padding: 0.5rem 0;
}
table {
    border-collapse: collapse;
    width: 100%;
}

table th {
    background: var(--color-primary);
    color: #fff;
    text-align: left;
}
table th,
table td {
    padding: 1rem 1rem;
    border-bottom: 1px solid var(--color-grey-300);
}
footer {
    grid-area: footer;
    justify-content: center;
    align-items: center;
}
