body {
    background-color: #2c2c2d;
    color: #fff;
    font-family: Arial, sans-serif;

    display: grid;
    min-height: 100vh;
    place-content: center;
}
h1 {
    justify-self: end;
}
.grid-container {
    background-color: #1c1a1d;
    padding: 1rem;
    height: 28rem;

    display: grid;
    gap: 1rem;
    grid-template-columns: 8rem 8rem;
    grid-template-rows: 8rem 8rem;

    align-content: end;
    align-items: center;         

    justify-content: end;
    justify-items: center;
}

.grid-item {
    background-color: #4c7caf;
    padding: 1rem;
}
